<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.itsk.datamaster.dao.SettingItemsDao">
	<!-- 获取用户设置信息 -->
	<select id="getSettings"  resultType="org.itsk.datamaster.entity.SettingItems">
		SELECT * FROM settingitems where
		userId=#{userId} limit 1
	</select>
	<!-- 注册用户. -->
	<insert id="register" parameterType="org.itsk.datamaster.entity.UserInfo"
		useGeneratedKeys="true" keyProperty="ID">

		INSERT INTO settingitems (id,phone,password,nickname,thumb)
		VALUES(#{user.id},#{user.phone}, #{user.password}, #{user.nickname},#{user.thumb});
		<selectKey resultType="java.lang.Integer" order="AFTER"
			keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
	</insert>
	<update id="updateSettings"  parameterType="org.itsk.datamaster.entity.SettingItems">
		update settingitems SET autoSync=#{items.autoSync},enterPassword=#{items.enterPassword} ,
		enterPhotoPassword=#{items.enterPhotoPassword} ,photoPwd=#{items.photoPwd} ,numberPwd=#{items.numberPwd} 
		,encryptKey=#{items.encryptKey} ,ivParameter=#{items.ivParameter} 
		where userId=#{userId}
	</update>

	<!-- 设置数字密码 -->
	<update id="setNumberPwd">
		update settingitems SET numberpwd=#{numberpwd} where userId=#{userId}
	</update>
	<!-- 设置图片密码 -->
	<update id="setPhotoPwd">
		update settingitems SET photopwd=#{photopwd} where userId=#{userId}
	</update>
</mapper>